html {

    font-size: 0.9vw;

    @media (max-width: 1300px) { 
        font-size: 1.4vw;
    }

    @media (max-width: 700px) { 
        font-size: 2.0vw;
    }
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    outline: none;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.grid_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5px;
    justify-content: center;
}

.grid_letter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    margin: 0.2rem;
    border: 3px solid;
    border-color: #3a3a3c;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.wrong-pos {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

.correct {
    background-color: #538d4e;
    border-color: #538d4e;
}

.wrong {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

.default-color {
    background-color: #818384;
}

.overlay {
    z-index: 10;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 1.25em;
    font-family: sans-serif;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    padding: 10px 0;
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-name: in-out;
    opacity: 0;
}

.end-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.25em;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 30px 40px 30px;
    border: 3px solid;
    border-color: #3a3a3c;
    border-radius: 10px;
    height: 15rem;
    margin-top: 30vh;
}

.retry {
    margin-top: 2vh;
}

.retry-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.retry-icon {
    font-size: 60px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.key {
    font-size: 1.75rem;
    width: 3.5rem;
    height: 5rem;
    margin: 0.3rem 0.2rem;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    padding: inherit
}

.func-key {
    width: 5.5rem;
    font-size: 1rem;
}

.ease-in {
    animation-duration: 0.5s;
    animation-name: ease-in;
}

.ease-out {
    animation-duration: 0.5s;
    animation-name: ease-out;
}

@keyframes in-out {
    0% {
        opacity: 0; 
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 1
    }
  
    100% {
        opacity: 0;
    }
}

@keyframes ease-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ease-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}